In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/VivekaAryan/Content-based-Movie-Recommendation-System/master/Data/finalcut_movies.csv")

In [3]:
data.head()

,tmdbId,Title,Year,Genres,Language,Runtime,Vote_count,Vote_avg,Director,Keywords,actor1,actor2,actor3,actor4
0,862,Toy Story,1995,Animation Comedy Family,English,81,12628,7.9,John Lasseter,martialarts jealousy toy friendship bullying e...,Tom Hanks,Tim Allen,Don Rickles,Jim Varney
1,8844,Jumanji,1995,Adventure Fantasy Family,English,104,7378,7.2,Joe Johnston,giantinsect boardgame jungle disappearance rec...,Robin Williams,Jonathan Hyde,Kirsten Dunst,Bradley Pierce
2,15602,Grumpier Old Men,1995,Romance Comedy,English,101,203,6.6,Howard Deutch,fishing oldman bestfriend duringcreditsstinger,Walter Matthau,Jack Lemmon,Ann-Margret,Sophia Loren
3,31357,Waiting to Exhale,1995,Comedy Drama Romance,English,127,75,6.2,Forest Whitaker,basedonnovelorbook interracialrelationship sin...,Whitney Houston,Angela Bassett,Loretta Devine,Lela Rochon
4,11862,Father of the Bride Part II,1995,Comedy,English,106,416,6.2,Charles Shyer,parentchildrelationship baby midlifecrisis con...,Steve Martin,Diane Keaton,Martin Short,Kimberly Williams-Paisley

In [4]:
C = data['Vote_avg'].mean()

In [5]:
m = data['Vote_count'].quantile(0.75)

In [6]:
quali = data.copy().loc[data['Vote_count'] >= m]

In [7]:
def weighted_rate(v, R, m=m, C=C):
    ans = (v/(v+m) * R)+(m/(v+m) * C)
    return ans

In [8]:

quali['Score'] = quali.apply(lambda row : weighted_rate(row['Vote_count'], row['Vote_avg']), axis = 1)

In [9]:
quali = quali.sort_values('Score', ascending=False)

In [10]:

quali.head()

,tmdbId,Title,Year,Genres,Language,Runtime,Vote_count,Vote_avg,Director,Keywords,actor1,actor2,actor3,actor4,Score
304,278,The Shawshank Redemption,1994,Drama Crime,English,142,16681,8.7,Frank Darabont,prison corruption policebrutality prisoncell d...,Tim Robbins,Morgan Freeman,Bob Gunton,Clancy Brown,8.687719
777,238,The Godfather,1972,Drama Crime,English,175,12597,8.7,Francis Ford Coppola,italy lossoflovedone loveatfirstsight italiana...,Marlon Brando,Al Pacino,James Caan,Richard S. Castellano,8.683762
9779,19404,Dilwale Dulhania Le Jayenge,1995,Comedy Drama Romance,Hindi,190,2318,8.7,Aditya Chopra,NaN,Shah Rukh Khan,Kajol,Amrish Puri,Anupam Kher,8.614101
502,424,Schindlers List,1993,Drama History War,English,195,10019,8.6,Steven Spielberg,basedonnovelorbook factory concentrationcamp h...,Liam Neeson,Ben Kingsley,Ralph Fiennes,Caroline Goodall,8.580389
1092,240,The Godfather: Part II,1974,Drama Crime,English,202,7461,8.6,Francis Ford Coppola,italy italianamerican cuba melancholy praise r...,Al Pacino,Robert Duvall,Diane Keaton,Robert De Niro,8.573735

In [11]:
conbas_df = quali[['Title','Genres','Director','actor1','actor2','actor3','actor4','Keywords']]

In [12]:
conbas_df['Genres'] = conbas_df['Genres'].str.replace(' ','').str.lower().str.replace('-','')
conbas_df['Director'] = conbas_df['Director'].str.replace(' ','').str.lower().str.replace('-','')
conbas_df['actor1'] = conbas_df['actor1'].str.replace(' ','').str.lower().str.replace('-','')
conbas_df['actor2'] = conbas_df['actor2'].str.replace(' ','').str.lower().str.replace('-','')
conbas_df['actor3'] = conbas_df['actor3'].str.replace(' ','').str.lower().str.replace('-','')
conbas_df['actor4'] = conbas_df['actor4'].str.replace(' ','').str.lower().str.replace('-','')

C:\Users\user\Anaconda3\envs\AllPackages\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\user\Anaconda3\envs\AllPackages\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\user\Anaconda3\envs\AllPackages\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\user\Anaconda3\envs\AllPackages\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\user\Anaconda3\envs\AllPackages\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\user\Anaconda3\envs\AllPackages\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
conbas_df['soup'] = conbas_df['Keywords'] + ' ' + conbas_df['Genres'] + ' ' + conbas_df['Director'] + ' ' + conbas_df['actor1'] + ' ' + conbas_df['actor2'] + ' ' + conbas_df['actor3'] + ' ' + conbas_df['actor4']

C:\Users\user\Anaconda3\envs\AllPackages\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
conbas_df = conbas_df.drop(columns=['Genres', 'Director', 'actor1', 'actor2', 'actor3', 'actor4', 'Keywords'])

In [15]:
q = pd.merge(quali,conbas_df, left_on=['Title'], right_on=['Title'], how='left')

In [16]:

q = q.drop_duplicates(subset='tmdbId')

In [17]:
q[q['Title'].str.contains('Scarface')]

,tmdbId,Title,Year,Genres,Language,Runtime,Vote_count,Vote_avg,Director,Keywords,actor1,actor2,actor3,actor4,Score,soup
106,111,Scarface,1983,Action Crime Drama Thriller,English,170,7135,8.1,Brian De Palma,siblingrelationship miami florida corruption l...,Al Pacino,Steven Bauer,Michelle Pfeiffer,Mary Elizabeth Mastrantonio,8.077954,siblingrelationship miami florida corruption l...
1346,877,Scarface,1932,Action Crime Drama Thriller,English,93,270,7.6,Howard Hawks,siblingrelationship chicago usa alcohol basedo...,Paul Muni,Ann Dvorak,Karen Morley,Osgood Perkins,7.255129,siblingrelationship miami florida corruption l...

In [18]:
q[q.duplicated(['Title'])]

,tmdbId,Title,Year,Genres,Language,Runtime,Vote_count,Vote_avg,Director,Keywords,actor1,actor2,actor3,actor4,Score,soup
895,433498,Papillon,2018,Drama History Crime,English,134,986,7.5,Michael Noer,basedonnovelorbook biography remake solitaryco...,Charlie Hunnam,Rami Malek,Christopher Fairbank,Eve Hewson,7.394535,prison prisonescape jungle solitaryconfinement...
1139,648,Beauty and the Beast,1946,Drama Fantasy Romance,French,96,335,7.6,Jean Cocteau,underdog monster beauty rose daughter,Jean Marais,Josette Day,Marcel André,Mila Parély,7.309406,prince book castle rose musical princess beast...
1253,65754,The Girl with the Dragon Tattoo,2011,Thriller Crime Mystery Drama,English,158,4702,7.3,David Fincher,rape journalist basedonnovelorbook journalism ...,Daniel Craig,Rooney Mara,Christopher Plummer,Stellan Skarsgård,7.279788,rape journalist basedonnovelorbook bondage isl...
1346,877,Scarface,1932,Action Crime Drama Thriller,English,93,270,7.6,Howard Hawks,siblingrelationship chicago usa alcohol basedo...,Paul Muni,Ann Dvorak,Karen Morley,Osgood Perkins,7.255129,siblingrelationship miami florida corruption l...
1514,17529,True Grit,1969,Western Drama Adventure,English,128,435,7.4,Henry Hathaway,bountyhunter manhunt,John Wayne,Glen Campbell,Kim Darby,Jeremy Slate,7.196462,lossoflovedone basedonnovelorbook fathermurder...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12711,11535,Rollerball,2002,Action Science Fiction Thriller,English,98,283,4.0,John McTiernan,manager arena dystopia wrestling sports roller...,Chris Klein,LL Cool J,Rebecca Romijn,Naveen Andrews,4.445387,sportsteam future dystopia games rollerskating...
12714,166424,Fantastic Four,2015,Action Adventure Science Fiction,English,100,4381,4.4,Simon Kinberg,teleportation transformation telekinesis porta...,Miles Teller,Kate Mara,Michael B. Jordan,Jamie Bell,4.429061,flying siblingrelationship fire marriagepropos...
12721,791,The Fog,2005,Horror Thriller,English,100,419,4.1,Rupert Wainwright,california prophecy fire sea beach parentchild...,Tom Welling,Maggie Grace,Selma Blair,DeRay Davis,4.407817,prophecy sea beach gold smalltown beheading sw...
12733,9708,The Wicker Man,2006,Mystery Thriller Horror Drama,English,102,834,4.2,Neil LaBute,california basedonnovelorbook island airplane ...,Nicolas Cage,Ellen Burstyn,Kate Beahan,Frances Conroy,4.359194,scotland basedonnovelorbook island virgin ritu...
12750,351460,Death Note,2017,Fantasy Horror Mystery Thriller,English,101,2917,4.2,Adam Wingard,notebook basedonmanga death anime basedonanime,Nat Wolff,Lakeith Stanfield,Willem Dafoe,Margaret Qualley,4.248476,basedonmanga fantasymysterythriller shusukekan...

In [19]:
q.to_csv('Content/Movies.csv')

In [20]:
df = pd.read_csv("Content/Movies.csv")

In [21]:
df.head()

,Unnamed: 0,tmdbId,Title,Year,Genres,Language,Runtime,Vote_count,Vote_avg,Director,Keywords,actor1,actor2,actor3,actor4,Score,soup
0,0,278,The Shawshank Redemption,1994,Drama Crime,English,142,16681,8.7,Frank Darabont,prison corruption policebrutality prisoncell d...,Tim Robbins,Morgan Freeman,Bob Gunton,Clancy Brown,8.687719,prison corruption policebrutality prisoncell d...
1,1,238,The Godfather,1972,Drama Crime,English,175,12597,8.7,Francis Ford Coppola,italy lossoflovedone loveatfirstsight italiana...,Marlon Brando,Al Pacino,James Caan,Richard S. Castellano,8.683762,italy lossoflovedone loveatfirstsight italiana...
2,2,19404,Dilwale Dulhania Le Jayenge,1995,Comedy Drama Romance,Hindi,190,2318,8.7,Aditya Chopra,NaN,Shah Rukh Khan,Kajol,Amrish Puri,Anupam Kher,8.614101,NaN
3,3,424,Schindlers List,1993,Drama History War,English,195,10019,8.6,Steven Spielberg,basedonnovelorbook factory concentrationcamp h...,Liam Neeson,Ben Kingsley,Ralph Fiennes,Caroline Goodall,8.580389,basedonnovelorbook factory concentrationcamp h...
4,4,240,The Godfather: Part II,1974,Drama Crime,English,202,7461,8.6,Francis Ford Coppola,italy italianamerican cuba melancholy praise r...,Al Pacino,Robert Duvall,Diane Keaton,Robert De Niro,8.573735,italy italianamerican cuba melancholy praise r...

In [22]:

q['soup'].head()

0    prison corruption policebrutality prisoncell d...
1    italy lossoflovedone loveatfirstsight italiana...
2                                                  NaN
3    basedonnovelorbook factory concentrationcamp h...
4    italy italianamerican cuba melancholy praise r...
Name: soup, dtype: object

In [23]:
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(q['soup'].values.astype('U'))

In [24]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [25]:
q = q.reset_index()
indices = pd.Series(q.index, index=q['Title'])

In [26]:
def get_recommendations(title, cosine_sim = cosine_sim):
    
    idx = indices[title]  # Get the index of the movie that matches the title
    sim_scores = list(enumerate(cosine_sim[idx]))   # Get the pairwsie similarity scores of all movies with that movie
    #print(sim_scores)
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)  # Sort the movies based on the similarity scores
    #print(sim_scores)
    sim_scores = sim_scores[1:11]  # Get the scores of the 15 most similar movies
    #print(sim_scores)
    movie_indices = [i[0] for i in sim_scores]  # Get the movie indices

    movies = q.iloc[movie_indices][['Title', 'Year', 'Score','Language']]  # Getting the weighted ratings of the movies 
    # Return the top 15 most similar movies arranged by ratings
    return movies.sort_values('Score', ascending = False)

In [27]:
get_recommendations('Batman Begins')

                                     Title  Year     Score Language
12                         The Dark Knight  2008  8.392010  English
359                  The Dark Knight Rises  2012  7.692189  English
529             Batman: Under the Red Hood  2010  7.572694  English
1463                                Batman  1989  7.181852  English
1914         Justice League vs Teen Titans  2016  7.057668  English
2153  Justice League: Crisis on Two Earths  2010  6.991514  English
2341                     Batman: Bad Blood  2016  6.948852  English
4119      Justice League: The New Frontier  2008  6.639512  English
5622        Green Lantern: Emerald Knights  2011  6.407276  English
9607    Batman v Superman: Dawn of Justice  2016  5.801490  English

In [28]:
get_recommendations('Avatar')

                                             Title  Year     Score Language
94                                           Alien  1979  8.082982  English
210                                         Aliens  1986  7.876950  English
660                              The Fifth Element  1997  7.485048  English
1136                       Star Trek Into Darkness  2013  7.286307  English
4373   Valerian and the City of a Thousand Planets  2017  6.591928  English
6418                                        Alien³  1992  6.294698  English
7625                                     Predators  2010  6.098810  English
8618                             This Island Earth  1955  5.972745  English
8988                               Mission to Mars  2000  5.913937  English
11537                                   Critters 4  1991  5.079928  English